/.bundle
/config/database.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/public/assets/*
/public/uploads/*
.byebug_history
*.rake-tasks*
.vagrant
.idea
*.komodo*
*.sublime*
*.remote-sync*
*.ftpconfig
.tags*
/doc/*
*.backup
